{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
    <div class="row">
        <div class="shadow p-3 mb-3 bg-body rounded mx-auto">
            <p>
                <h3>
                    Welcome to CricketZone – Your Ultimate Destination for Cricket Scores and Match Ticket Booking!
                </h3>
                At CricketZone, we are passionate about cricket and committed to bringing you the most comprehensive and up-to-date information on your favorite sport. Whether you're a die-hard fan or a casual observer, we have something for everyone.
            </p>
            <p>
                Passionate about cricket and technology, our team at CricketZone is dedicated to delivering a top-notch user experience. From skilled developers ensuring a smooth website and app functionality to cricket experts providing insightful analyses, we have a diverse and talented team working together to make CricketZone your go-to cricket hub.
            </p>
            <p>
                <b>Connect With Us:</b><br>
                We value your feedback and engagement. Connect with us on social media to join the conversation, share your thoughts, and stay updated on the latest in the cricket world.

                Thank you for choosing CricketZone as your cricket companion. Whether you're following your favorite team, checking live scores, or booking tickets for an upcoming match, we're here to enhance your cricket experience. Welcome to CricketZone – Where the Game Never Ends!
            </p>
        </div>
    </div>
{% endblock 'main' %}