{% load static %}
<!--Footer Section-->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="fs-logo">
                    <div class="logo">
                        <a href="#"><img src="{% static 'images/logo.png' %}" width="180px"></a>
                    </div>
                    <ul>
                        <li><i class="bi bi-envelope-fill"></i> abhiphapale101@gmail.com</li>
                        <li><i class="bi bi-geo-alt-fill"></i> Chikhali,Pune</li>
                    </ul>
                    <div class="fs-social">
                        <a href="https://github.com/Abhishekp44"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/abhishekphapale"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-1">
                <div class="fs-widget">
                    <h4>Top International Teams</h4>
                    <ul class="fw-links">
                        <li>India</li>
                        <li>Australia</li>
                        <li>New Zealand</li>
                        <li>Pakistan</li>
                        <li>Bangladesh</li>
                    </ul>
                    <ul class="fw-links">
                        <li>Sri Lanka</li>
                        <li>West Indies</li>
                        <li>England</li>
                        <li>South Africa</li>
                        <li>Afghanistan</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fs-widget">
                    <ul type="none">
                        <li class="mb-5">
                            <a href="/home" class="ft-nav-link"><h5>Home</h5></a>
                        </li>
                        <li class="mb-5">
                            <a href="/about" class="ft-nav-link"><h5>About Us</h5></a>
                        </li>
                        <li class="mb-5">
                            <a href="/contact" class="ft-nav-link"><h5>Contact Us</h5></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-option">
            <div class="row">
                <div class="col-lg-12">
                    <div class="co-text">
                        <p>
                            &copy;CricketZone-Abhishek Phapale
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!--Footer End-->
<script>
    function submitForm() {
      // Get the form element
      var form = document.getElementById('myForm');

      // Manually submit the form
      form.submit();
    }
</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>