{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

    <!--Main Section-->
    <div class="container-fluid shadow bg-body mx-auto mt-3 pb-3">
        <center>
          <div class="btn-group m-3" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" onclick="showInfo(1)" value="T20" id="btnradio1" autocomplete="off" checked> 
              <label class="btn btn-outline-success" for="btnradio1">T20</label>

              <input type="radio" class="btn-check" onclick="showInfo(2)" value="ODI" id="btnradio2" autocomplete="off" checked> 
              <label class="btn btn-outline-success" for="btnradio2">ODI</label>
          </div>

          <div class="info bg-success" id="info1">
              <table class="table table-hover text-white">
                  <thead>
                      <tr>
                        <th scope="col">POS</th>
                        <th scope="col">Teams</th>
                        <th scope="col">Matches</th>
                        <th scope="col">POints</th>
                        <th scope="col">Rating</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>
                          <img src="{% static 'images/Australia.png' %}" alt="">&nbsp;Australia
                        </td>
                        <td>25</td>
                        <td>7,426</td>
                        <td>297</td>
                      </tr>

                      <tr>
                          <th scope="row">2</th>
                          <td>
                            <img src="{% static 'images/England.png' %}" alt="">&nbsp;England
                          </td>
                          <td>30</td>
                          <td>8,447</td>
                          <td>282</td>
                      </tr>

                      <tr>
                        <th scope="row">3</th>
                        <td>
                          <img src="{% static 'images/India.png' %}" alt="">&nbsp;India
                        </td>
                        <td>40</td>
                        <td>10,417</td>
                        <td>260</td>
                      </tr>                        

                      <tr>
                        <th scope="row">4</th>
                        <td>
                          <img src="{% static 'images/NewZealand.png' %}" alt="">&nbsp;New Zeland
                        </td>
                        <td>27</td>
                        <td>6,904</td>
                        <td>256</td>
                      </tr>

                      <tr>
                        <th scope="row">5</th>
                        <td>
                          <img src="{% static 'images/South_Africa.png' %}" alt="">&nbsp;South Africa
                        </td>
                        <td>26</td>
                        <td>6,309</td>
                        <td>243</td>
                      </tr>

                      <tr>
                        <th scope="row">6</th>
                        <td>
                          <img src="{% static 'images/WestIndies.png' %}" alt="">&nbsp;West Indies
                        </td>
                        <td>27</td>
                        <td>6,340</td>
                        <td>235</td>
                      </tr>

                      <tr>
                        <th scope="row">7</th>
                        <td>
                          <img src="{% static 'images/srilanka.png' %}" alt="">&nbsp;Sri Lanka
                        </td>
                        <td>31</td>
                        <td>6,988</td>
                        <td>225</td>
                      </tr>

                      <tr>
                        <th scope="row">8</th>
                        <td>
                          <img src="{% static 'images/Pakistan.png' %}" alt="">&nbsp;Pakistan
                        </td>
                        <td>33</td>
                        <td>7,279</td>
                        <td>221</td>
                      </tr>
                                              
                      <tr>
                        <th scope="row">9</th>
                        <td>
                          <img src="{% static 'images/bangladesh.png' %}" alt="">&nbsp;Bangladesh
                        </td>
                        <td>30</td>
                        <td>6,040</td>
                        <td>201</td>
                      </tr>

                      <tr>
                        <th scope="row">10</th>
                        <td>
                          <img src="{% static 'images/ireland.png' %}" alt="">&nbsp;Ireland
                        </td>
                        <td>27</td>
                        <td>4,748</td>
                        <td>176</td>
                      </tr>

                    </tbody>
              </table>
          </div>
          <div class="info bg-success" id="info2">
              <table class="table table-hover text-white">
                  <thead>
                      <tr>
                        <th scope="col">POS</th>
                        <th scope="col">Teams</th>
                        <th scope="col">Matches</th>
                        <th scope="col">POints</th>
                        <th scope="col">Rating</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>
                            <img src="{% static 'images/Australia.png' %}" alt="">&nbsp;Australia
                          </td>
                          <td>21</td>
                          <td>3,429</td>
                          <td>163</td>
                      </tr>

                      <tr>
                          <th scope="row">2</th>
                          <td>
                            <img src="{% static 'images/England.png' %}" alt="">&nbsp;England
                          </td>
                          <td>23</td>
                          <td>2,991</td>
                          <td>130</td>
                      </tr>

                      <tr>
                        <th scope="row">3</th>
                        <td>
                          <img src="{% static 'images/South_Africa.png' %}" alt="">&nbsp;South Africa
                        </td>
                        <td>24</td>
                        <td>2,737</td>
                        <td>114</td>
                      </tr>

                      <tr>
                        <th scope="row">4</th>
                        <td>
                          <img src="{% static 'images/India.png' %}" alt="">&nbsp;India
                        </td>
                        <td>18</td>
                        <td>1,745</td>
                        <td>97</td>
                      </tr>

                      <tr>
                        <th scope="row">5</th>
                        <td>
                          <img src="{% static 'images/NewZealand.png' %}" alt="">&nbsp;New Zeland
                        </td>
                        <td>24</td>
                        <td>2,262</td>
                        <td>94</td>
                      </tr>

                      <tr>
                        <th scope="row">6</th>
                        <td>
                          <img src="{% static 'images/WestIndies.png' %}" alt="">&nbsp;West Indies
                        </td>
                        <td>20</td>
                        <td>1,768</td>
                        <td>88</td>
                      </tr>
                      
                      <tr>
                        <th scope="row">7</th>
                        <td>
                          <img src="{% static 'images/bangladesh.png' %}" alt="">&nbsp;Bangladesh
                        </td>
                        <td>17</td>
                        <td>1,365</td>
                        <td>80</td>
                      </tr>

                      <tr>
                        <th scope="row">8</th>
                        <td>
                          <img src="{% static 'images/srilanka.png' %}" alt="">&nbsp;Sri Lanka
                        </td>
                        <td>9</td>
                        <td>714</td>
                        <td>79</td>
                      </tr>

                      <tr>
                          <th scope="row">9</th>
                          <td>
                            <img src="{% static 'images/thailand.png' %}" alt="">&nbsp;Thailand
                          </td>
                          <td>11</td>
                          <td>753</td>
                          <td>68</td>
                        </tr>

                      <tr>
                        <th scope="row">10</th>
                        <td>
                          <img src="{% static 'images/Pakistan.png' %}" alt="">&nbsp;Pakistan
                        </td>
                        <td>27</td>
                        <td>1,843</td>
                        <td>68</td>
                      </tr>

                    </tbody>
              </table>
          </div>
      </center>       
  </div>
  <!--Main End-->

{% endblock 'main' %}